@font-face {
    font-family: 'Frutiger';
    src: url('Frutiger-Roman.eot');
    src: url('fonts/Frutiger-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/Frutiger-Roman.woff2') format('woff2'),
        url('fonts/Frutiger-Roman.woff') format('woff'),
        url('fonts/Frutiger-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger LT 45';
    src: url('fonts/FrutigerLT-Light.eot');
    src: url('fonts/FrutigerLT-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/FrutigerLT-Light.woff2') format('woff2'),
        url('fonts/FrutigerLT-Light.woff') format('woff'),
        url('fonts/FrutigerLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Frutiger 45';
    src: url('fonts/Frutiger-Bold.eot');
    src: url('fonts/Frutiger-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Frutiger-Bold.woff2') format('woff2'),
        url('fonts/Frutiger-Bold.woff') format('woff'),
        url('fonts/Frutiger-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
